.main-wrapper {
    height: 100vh;
    width: 100vw;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto, Arial, Helvetica, serif;
    font-size: 16px;
}

.main-container {
    width: 50%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: relative;
}

.nav-background {
    background: url(../img//background.jpg) no-repeat fixed;
    background-size: cover;
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%
}

.nav {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 100%;
    background-color: rgba(16, 16, 34, 0.8);
    padding: 15px;
}



  
// .counter {
//     display: flex;
//     margin: 0 auto;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     position: absolute;
//     width: 100%;
//     height: 100%;

//     > div:first-child {
//         font-size: 100px;
//     }

//     a {
//         font-size: 16px;
//         text-transform: uppercase;
//         color: #fff;
//         text-decoration: none;
//     }

//     .controls {
//         display: flex;
//         flex-direction: row-reverse;

//         > div {
//         min-width: 40px;
//         height: 40px;
//         text-align: center;
//         background: #fff;
//         color: #3f51b5;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin: 0 0 0 5px;
//         cursor: pointer;
//         }
//     }
// }
